@import "variable";
@import url(Fonts/font.css);

* {
    font-family: "Sahel";
}

// Top NavBar In Header
.navbar {
    .nav-item {
        margin-left: 2rem;
    }
}

.navBg {
    background-color: $backgroundColorWithShadow;
    transition: all ease-in-out .3s;
}

// Top NavBar In Header

//Top WebSite Banner
#banner {
    background: url(../Images/pic.png);
    width: 100%;
    height: 780px;
    background-size: cover;
    background-position: center;

    .readMoreBtn {
        background-color: $backgroundColor;
        padding: 10px;
        border: none;
        border-radius: 7px;
        transition: all ease-in-out .3s;

        &:hover {
            transform: scale(1.03, 1.03);
            transition: all ease-in-out .3s;
            box-shadow: 0px 0px 15px #000;
        }
    }
}

//Top WebSite Banner

// All Content In WebSite
#content {
    @media only screen and (min-width: 1000px) {
        background: url(../Images/tower.png);
        background-repeat: no-repeat;
        background-size: 50%;

        .services {
            padding-top: 170px;
        }
    }

    .back {
        background-color: $backgroundColor;
        border-radius: 50%;
    }

    .myCard {
        background-color: $backgroundCard;
        width: 100%;
        height: 300px;
        border-radius: 10px;
    }
}

#project {
    background: url(../Images/ProjectBackground.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;


    @media only screen and (max-width: 400px) {
        img {
            width: 2.5rem;
        }

        p {
            font-size: 0.8rem;
        }

        .circle {
            background-color: $backgroundCard;
            border-radius: 50%;
            padding-top: 1rem;
            width: 7rem;
            height: 7rem;
            margin: 0px auto;
        }
    }

    @media only screen and (min-width: 401px) {
        img {
            width: 4rem;
        }

        p {
            font-size: 1rem;
        }

        .circle {
            background-color: $backgroundCard;
            border-radius: 50%;
            padding-top: 4rem;
            width: 14rem;
            height: 14rem;
            margin: 0px auto;
        }
    }
}

#article {
    background-color: $backgroundCard;
    border-radius: 10px;

    #articleImage {
        border-radius: 50% 10px 10px 50%;
        overflow: hidden;

        @media screen and (min-width:500px) {
            height: 400px;
            width: 95%;
            margin: 10px auto;
        }

        @media screen and (min-width:750px) {
            height: 600px;
            width: 95%;
            margin: 10px auto;
        }

        @media screen and (min-width:1000px) {
            height: 450px;
            width: 95%;
            margin: 10px auto;
        }
    }

    .articleCard {
        .link {
            color: #000;
            &:hover{
                color: rgb(92, 92, 92);
                cursor: pointer;
            }
        }
        .activelink{
            color: rgb(92, 92, 92);
        }
    }
}

// All Content In WebSite